.main
{
    background-color: black;
}
.cardd
{
    background: linear-gradient(0deg, #0A090D 0%, #1E1E1E 100%) !important;
}
.nav
{
    background-color: black;
    height: 90px;
}
.nav-link 
{
    color: white !important;
}

.btn1:hover
{
    background-color: #F7941D;
    color: black!important;
}

.box
{
    padding-right: 200px!important;
}
.get
{
    background-color: #F7941D !important;
}
.coin
{
    color: #F7941D;
}

.btn1
{
    background-color: black;
    border: 1px solid #F7941D;
    box-shadow: 0px 0px 8px 0px rgba(249, 191, 48, 0.49);
    padding: 12px;
    font-size: 12px;
}
.slide-fix-text
{
    opacity: 0.6;
}

.back-ground
{
    background:url('./images/backframe.png');
    background-size: cover;
    background-repeat: no-repeat;
}
.secure p
{
    opacity: 0.65;
}
.card-imagess
{
    border-radius: 14px;
    background: linear-gradient(181deg, #1E1E1E 0%, rgba(161, 143, 6, 0.22) 100%);
    padding-top: 30px ;
    height: 400px;
}

.tollss
{
    padding-top: 17px;
}
.tollss img{
    width: 30px !important;
}

.rentall img
{
    width: 30px !important;
}
.card-imagess img
{
    width: 80px!important;
}

.card-imagess p
{
    opacity: 0.65;
    font-size: 14px;
}

.rentall img{
    width: 60px !important;
}
.image
{
    text-align: end;
}
.card-text
{
    width: 250px!important;
}
.card-text h3
{
    margin-top: 100px;
}
.card-text p, .card-text1 p
{
    font-size: 13px;
}
.card-text2
{
    width: 300px!important;
}
.card-text2 p
{
    font-size: 14px;
}
.card2
{
    margin-left: 150px!important;
}
.pic, .pic1
{
    margin-left: 50px!important;
    margin-top: -20px!important;
}
.card-text1
{
    width: 250px!important;
}
.card-text1 h3
{
    margin-top: 40px;
}
.pic1
{
    margin-left: 90px!important;
}
.trusted
{
    width: 400px!important;
    margin-left: 40px;
}
.trusted p
{
    font-size: 16px;
}
.apple-text
{
    line-height: 1px;
    padding-left: 10px!important;
}
.apple-text p
{
    font-size: 12px;
}
.apple-text h3
{
    font-size: 22px;
    margin-top: -10px!important;
}
.car
{
    margin-left: -10px!important;
    margin-top: 60px;
}
.fulid
{
    margin-left: -40px;
}
.footer p , .link
{
    color: white!important;
    opacity: 0.7;
}
.footer h6
{
    color: white!important;
}

.row
    {
        --bs-gutter-x: 0rem !important;
    }


/* Responosive */
@media screen and (max-width: 768px)
{
    .secure
    {
        padding-right: 0px!important;  
        text-align: center;
    } 
    .benefits
    {
        padding-top: 20px;
    }
    .trusted
    {
        margin-left: 0px;
        text-align: center;
    }
    .button2
    {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .button-main
    {
        margin-top: 5px;
    }
    .secure{
        background: url(..);
    }

    .secure p , h1
    {
        padding: 10px;
    }
    .mob
    {
        text-align: center;
    }
    .inst h3
    {
        margin-top: 50px;
    }
    .card2 .cost
    {
        padding-left: 0px!important;
        text-align: center;
    }
    .card2
    {
        margin-left: 20px!important;
    }
    .card2 h3
    {
        margin-top: -30px!important;
    }

    .cost-image img , .accessible-image img
    {
        margin-top: 50px;
        margin-left: 10px!important;
    }
    .secure-image img , .accessible-image img , .cost-image img
    {
        width: 100% !important;
    }
    .accessible-image img
    {
        margin-left: -25px !important;
    }
    .secure-image img
    {
        margin-left: 90px;
    }
    .eco-image img
    {
        display: none;
    }
    .trusted h1
    {
        margin-top: -50px;
    }
    .apple-text h3
    {
        font-size: 18px;
    }
    .apple-text
    {
        padding: 0px;
    }

    .google
    {
        margin-left: 0px!important;
    }
    .started-text
    {
        text-align: center;
    }
    .started-text button
    {
        margin-top: 10px;
    }

    .footer-link
    {
        display: none;
    }
    .pic img
    {
        display: none;
    }
}